@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
.book-detail {
    display: grid;
    margin: 0 auto;
    column-gap: 10rem;
    grid-template-columns: 4fr 4.87fr;
    padding: 0rem;
    height: 50%;
  }

  .book-detail__side {
    position: relative;
    display: grid;
    align-content: start;
    padding-left: 1rem;
    border-left: 2px solid;
    border-color: #c34c4c;
  }

  .book-image {
    align-self: flex-end;
    width: 400px;
    height: 600px;
    margin-left: 300px;
  }
  
  .book-detail__side {
    position: relative;
    display: grid;
    grid-template-rows: 20% auto;
    align-content: start;
    padding-left: 1rem;
    border-left: 2px solid;
    border-color: #c34c4c;
  }
  
  .book-title {
    margin: 1rem 0;
    color: #000000;
    margin-top: 5rem;
    margin-bottom: 5rem;
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
  }

  .author-name{
    color: #c34c4c;
    margin-top: 50px;
    font-size: 25px;
    font-family: 'Source Sans Pro', sans-serif;
  }

  .published-year{
    margin: 1rem 0;
    color: rgb(126, 124, 124);
    margin-top: 15px;
    font-size: 1.08rem;
    font-family: 'Source Sans Pro', sans-serif;
  }
  
  .category{
    color: rgb(126, 124, 124);
    font-size: 1.08rem;
    margin-top: 5px;
    font-family: 'Source Sans Pro', sans-serif;
  }

  .book-description {
    color: #4c4c4c;
    max-width: 50%;
    max-height: 150ch;
    margin-top: 1rem;
    font-family: 'Source Sans Pro', sans-serif;
  }

  .book-price{
    font-size: 35px;
    color: #4c4c4c;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-family: 'Source Sans Pro', sans-serif;
  }

  .stock{
    color:#4c4c4c;
    font-family: 'Source Sans Pro', sans-serif;
  }
  
  .cart-button {
    height: 40px;
    width: 250px;
    padding: 0.5rem;
    justify-self: start;
    margin-top: 5rem;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
  }
  
  .cart-button:hover {
    background-color: #c34c4cb7;
    color: #4c4c4c;
  }
