@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

.book-detail {
  display: grid;
  grid-auto-flow: column;
  margin: 0 auto;
  column-gap: 10rem;
  grid-template-columns: 400px 800px;
  padding: 0rem;
  height: 50%;
}

.book-image {
  background-color: #4c4c4c;
  align-self: flex-start;
  width: 400px;
  height: 600px;
  margin-top: 30px;
  margin-left: 100px;
  object-fit: cover;
}

.book-detail__side {
  text-align: justify;
  padding-left: 1rem;
  border-left: 2px solid;
  border-color: #c34c4c;
}

.book-title {
  color: #000000;
  margin-top: 20px;
  font-weight: 900;
  font-size: 40px;
  font-family: 'Oswald', sans-serif;
}

.author-name {
  color: #c34c4c;
  margin-top: 10px;
  font-size: 25px;
  font-family: 'Source Sans Pro', sans-serif;
}

.published-year {
  color: rgb(126, 124, 124);
  margin-top: 15px;
  font-size: 1.08rem;
  font-family: 'Source Sans Pro', sans-serif;
}

.category {
  color: rgb(126, 124, 124);
  font-size: 1.08rem;
  margin-top: 5px;
  font-family: 'Source Sans Pro', sans-serif;
}

.book-description {
  margin-top: 20px;
  width: 600px;
  color: #4c4c4c;
  font-family: 'Source Sans Pro', sans-serif;
}

.book-price {
  font-size: 35px;
  color: #4c4c4c;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-family: 'Source Sans Pro', sans-serif;
}

.stock {
  color: #4c4c4c;
  font-family: 'Source Sans Pro', sans-serif;
}

.cart-button {
  height: 40px;
  width: 250px;
  padding: 0.5rem;
  justify-self: start;
  margin-top: 3%;
  margin-right: 10px;
  margin-left: 40px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-family: 'Source Sans Pro', sans-serif;
}

.cart-button:hover {
  background-color: #c34c4cb7;
  color: #4c4c4c;
}