:root {
  --usualPadding: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: 70px 1fr 100px;
  min-height: 100vh;
}

header {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  grid-area: header;
  box-shadow: rgba(149, 157, 165, 0.11) 0px 1px 40px;
  position: fixed;
  width: 100vw;
  height: 70px;
  padding: var(--usualPadding);
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
  background-color: rgb(240, 240, 240);
}
