:root {
  --usualPadding: 30px;
  --theGreyColor: rgb(240, 240, 240);
  --mainColor: rgb(216, 86, 91);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* general */

button {
  background-color: var(--mainColor);
  color: white;
  border: none;
  height: 35px;
  border-radius: 2px;
  font-size: 17px;
  padding: 5px;
}

button:hover {
  background-color: rgb(197, 74, 78);
}

a {
  text-decoration: none;
  color: black;
}

input {
  background-color: var(--theGreyColor);
  border: none;
  font-size: 18px;
  padding: 30px;
  outline-color: var(--mainColor);
}

input:focus {
  background-color: white;
}

ul {
  list-style: none;
}

/* pages */

.App {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: 70px 1fr 100px;
  min-height: 100vh;
}

/* header */

header {
  grid-area: header;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-content: center;
  box-shadow: rgba(149, 157, 165, 0.11) 0px 1px 40px;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 70px;
  padding: var(--usualPadding);
  background-color: white;
  font-size: 18px;
}

header p {
  display: inline-block;
  position: relative;
}

header p:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--mainColor);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

header p:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.my-account {
  display: grid;
  grid-auto-flow: column;
  gap: 5px;
}

.select {
  border: none;
}

/* main */

main {
  grid-area: main;
  display: grid;
  padding: var(--usualPadding);
  overflow-x: hidden;
}

/* homepage */
.home {
  display: grid;
  justify-items: center;
  align-items: flex-start;
  align-content: flex-start;
  padding-top: 50px;
  gap: 50px;
}

.home input {
  width: 50%;
  height: 60px;
  border-radius: 25px;
}

.titles {
  width: 95vw;
  display: grid;
  grid-template-columns: repeat(4, 300px);
  justify-items: center;
  gap: 30px;
}

.list-book {
  display: grid;
  width: 250px;
  padding: var(--usualPadding);
  gap: 10px;
  justify-content: center;
  border: 1px solid rgb(207, 207, 207);
}

.list-book img {
  height: 280px;
  width: 180px;
  object-fit: cover;
  border-radius: 5px;
}

.author {
  color: rgb(156, 53, 53);
  font-size: 17px;
  font-weight: 600;
}

/* login */
.login {
  display: grid;
  justify-content: center;
  align-content: center;
  gap: 30px;
  text-align: center;
}

.login input {
  width: 350px;
  height: 40px;
  padding: 10px;
}

/* cart */

.cart {
  text-align: center;
}

.cart ul {
  padding-top: 20px;
  display: grid;
  margin:30px;
  gap: 20px;
}

.cart ul li {
  border: 1px solid var(--theGreyColor);
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  padding: 10px 60px;

  align-items: center;
  font-size: 25px;
}

.cart-book {
  width: 100px;
  height: 150px;
  object-fit: cover;
}




/* Author page */

.author-page{
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  gap: 50px;
}

.author-pic{
  width: 400px;
  height: 500px;
  object-fit: cover;
}

.author-details{
  display: grid;
  align-content: flex-start;
  gap:15px;
  width: 600px;
  height: 500px;
  border: 1px solid var(--theGreyColor);
  padding: var(--usualPadding);
  overflow-y: scroll;
  overflow-x: hidden;
}

.author-details ul{
  display: grid;
  grid-template-columns: repeat(4, 120px);
  gap:25px;
  justify-content: left;
}

.author-details h3{
border-bottom: 1px solid var(--mainColor);
}




/* footer */

footer {
  grid-area: footer;
  background-color: var(--theGreyColor);
  padding: var(--usualPadding);
}
