:root {
  --usualPadding: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: 70px 1fr 100px;
  min-height: 100vh;
  
}

header{
  grid-area: header;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(149, 157, 165, 0.11) 0px 1px 40px;
  position: fixed;
  width: 100vw;
  height: 70px;
  padding: var(--usualPadding);
}

main {
  grid-area: main;
  display: grid;
  padding: var(--usualPadding);
}

/* home page */
.home{
display: grid;
justify-items: center;
align-items: flex-start;
padding-top: 50px;
}

.home input{
  width: 50%;
  height:60px;
  border-radius: 12px;

}

footer {
  grid-area: footer;
  background-color: rgb(240, 240, 240);
  padding: var(--usualPadding);
}
